<% layout('/layouts/boilerplate') %>

<div class="mb-3">
    <div class="card m-3">
        <img class="card-img-top" src="<%= zenspot.image%>" alt"">
        <div class="card-body">
            <h5 class="card-title"><%= zenspot.title %></h5>
            <p class="card-text"><%= zenspot.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= zenspot.location%></li>
        </ul>
        <div class="card-body">
            <a href="/zenspots/<%=zenspot._id%>/edit"><button class="btn btn-info">Edit</button></a>
            <form class="d-inline" action="/zenspots/<%=zenspot._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

    </div>
</div>

<div class="mb-3">
    <form action="/zenspots/<%=zenspot._id%>/comments" method="POST" class="mb-3 needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="body">Add a comment</label>
            <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
    <h2>Comments</h2>
    <% for(let comment of zenspot.comments) { %>
    <div class="mb-3 card">
        <div class="card-body">
            <p><%= comment.body %></p>
        </div>
        <form action="/zenspots/<%=zenspot._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>
    <% } %>
    <footer class="m-3">
        <a href="/zenspots">All Zenspots</a>
    </footer>
</div>