<% layout('/layouts/boilerplate') %>

<div class="card m-3">
    <img class="card-img-top" src="<%= zenspot.image%>" alt"">
    <div class="card-body">
        <h5 class="card-title"><%= zenspot.title %></h5>
        <p class="card-text"><%= zenspot.description %></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= zenspot.location%></li>
    </ul>
    <div class="card-body">
        <a href="/zenspots/<%=zenspot._id%>/edit"><button class="btn btn-info">Edit</button></a>
        <form class="d-inline" action="/zenspots/<%=zenspot._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
</div>
<footer class="m-3">
    <a href="/zenspots">All Zenspots</a>
</footer>